<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
		<add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
		<add key="WindowsManagementUri" value="https://management.core.windows.net/" />

		<add key="ApplicationId" value="17ce2ea9-e653-497f-9cb6-29eaf3faa037" />
		<add key="SubscriptionId" value= "1cbc5060-81ef-473a-a87f-2168f27d735e" />
		<add key="ActiveDirectoryTenantId" value="99c6fda1-208e-42d1-96ba-4e57afb1f393" />
	</appSettings>
</configuration>